.App {
	text-align: center;
}

.display-flex {
	display: flex;
}

.justify-content-center {
	justify-content: center;
}

.position-absolute {
	position: absolute;
}

.alignCenter {
	text-align: center;
}

.white {
	color: #fff;
}

.totalNum {
	background-color: #fff;
	padding: 0rem 5rem;
	margin-top: 30px;
	border-radius: clamp(5rem, 10rem, 12rem);
}

.mainNum {
	font-size: clamp(2rem, 10rem, 15rem);
}

.d-f {
	display: flex;
	align-items: baseline;
}

.mont {
}

.cat {
	font-family: "Catamaran", sans-serif;
	font-weight: 900;
}

.smB {
	padding: 0px 17px;
	border-radius: 20px;
	margin-right: 15px;
	background-color: #fff;
}
.negMar {
	margin-top: -100px;
}

.btn {
	border: none;
	padding: 10px 20px;
	margin-top: 20px;
	color: #fff;
	margin-bottom: 30px;
	border-radius: 10px;
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	background-color: #048ba8;
	font-weight: 600;
	cursor: pointer;
}

.webcam {
	height: 90%;
	overflow: hidden;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f6f7eb;
}

.video {
	width: 100%;
	height: 100%;
}
